@import "reset.css";
@import "loader.css";

:root {
    --black: #000000;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --text-spacer: 20px;
    --backdrop-zindex: 1050;
    --17px: 1.0625rem;
    --18px: 1.125rem;

    @media (width >=42em) {
        --text-spacer: 30px;
    }
}

body {
    margin: 0;
    font-family: 'Cardo', serif;
    background-color: var(--black);
    color: rgba(var(--white-rgb), 0.9);
}

a {
    text-decoration: none;
}

.header {
    display: grid;
    place-content: center;
    background-color: var(--white);
    color: var(--black);
}

.main {
    container-type: inline-size;
}

.title {
    text-align: center;
    padding-block: 2rem;
    margin: 0;
}


.pic {
    img {
        margin-inline-start: auto;
    }
}

.content {
    font-size: var(--17px);
    padding-block: 2.5rem;

    p+p {
        margin-top: 1rem;
    }
}

.title,
.content,
.address {
    padding-inline: var(--text-spacer);
}

.content,
.address {
    font-style: italic;
}

.address {
    padding-block: 1.5rem;
    text-align: right;
    position: relative;

    &::before {
        content: "";
        display: block;
        height: 1px;
        background-color: rgba(var(--white-rgb), 0.25);
        width: calc(100% - 2 * var(--text-spacer));
        top: 0;
        left: var(--text-spacer);
        position: absolute;
    }

    .name {
        font-size: var(--18px);
    }

    a {
        display: block;
        color: rgba(var(--white-rgb), 0.7);
        transition: color 0.3s ease;

        &:hover {
            color: var(--white);
        }
    }
}

@container (width >=42em) {
    .card {
        display: grid;
        grid-template-areas: "pic content-area"
            "pic address"
        ;
        grid-template-columns: 1fr 1fr;
    }

    .pic {
        grid-area: pic;
        align-self: center;
    }

    .content {
        grid-area: content-area;
        align-self: center;
    }

    .address {
        grid-area: address;
    }
}

@media (width >=42em) {
    body {
        display: grid;
        background-color: var(--white);
    }

    .card {
        background-color: var(--black);
    }

    .wrapper {
        display: grid;
        align-self: center;
        margin-inline: auto;
        width: min(100%, 50em);
        grid-template-rows: 1fr auto 1fr;
    }
}