@import "reset.css";
@import "loader.css";

:root {
    --black: #000000;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --text-spacer: 10px;
    --backdrop-zindex: 1050;
    --17px: 1.0625rem;
    --18px: 1.125rem;
}

body {
    margin: 0;
    font-family: 'Cardo', serif;
    background-color: var(--black);
    color: rgba(var(--white-rgb), 0.9);
}

a {
    text-decoration: none;
}

/* .wrapper {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
} */

.header {
    display: grid;
    place-content: center;
    background-color: var(--white);
    color: var(--black);
}

.main {
    container-type: inline-size;
}

.title {
    text-align: center;
    padding-block: 2rem;
    margin: 0;
}


.pic {

    img {
        margin-inline-start: auto;
    }
}

.content {
    font-size: var(--17px);
    padding-block: 2.5rem;

    p+p {
        margin-top: 1rem;
    }
}

.title,
.content,
.footer {
    padding-inline: var(--text-spacer);
}

.content,
.footer {

    font-style: italic;
}

.footer {
    padding-block: 1.5rem;
    border-top: 1px solid rgba(var(--white-rgb), 0.25);

    .name {
        font-size: var(--18px);
    }

    a {
        display: block;
        color: rgba(var(--white-rgb), 0.7);
        transition: color 0.3s ease;

        &:hover {
            color: var(--white);
        }
    }
}

@container (width >=42em) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width >=42em) {
    body {
        display: grid;
        background-color: var(--white);
    }

    .content {
        background-color: var(--black);
    }

    .wrapper {
        display: grid;
        grid-template-areas:
            "header header "
            "main main"
            "main main"
            "footer .";
        align-self: center;
        width: min(42em, 100%);
        margin-inline: auto;
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }


}

@media (max-width: 42em) {
    .footer {
        text-align: right;
    }

}